*{
font-family: avenir, helvetica, sans-serif;
    color: black;
    
    
}
body {
    
    
    background: url(../images/background1.png) no-repeat center center;
    margin: 0;
    width: 100%;
    height: 3188px;
    background-size: cover;
    
}
nav {
    
    position: fixed;
    margin-top: -18%;
    height: 75px;
    background-color: transparent;
    
}
ul li{
    font-size: 1.1em;
    display: inline-block;
    padding-left: 90px;
    padding-right: 90px;
}
a{text-decoration: none;
    
}
.top-box{height: 800px;
}
.title-area{
    
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 18%;
    margin-left: 25%;
    margin-right: 25%;
}


.title-area h1 {
    
    text-align: center;
    
}
#about-box{ 
    height: 600px;
    margin-top: 30%;
    margin-bottom: 5%;
    
}

#about-box img {
    
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    opacity: 0.90;

}


#about-text{
    margin-top: 5%;
    float: right;
    width: 40%;
    margin-right: 5%;
    
}

    
#design-box{
    height: 300px;
    margin-top: 2%;
    margin-bottom: 30%;
    padding-top: 10%

}

#design-box img {
    width: 20%;
    float: right;
    margin: 3%;
    margin-top: 7%;
    opacity: 1;
}


#design-text{
    margin-top: 1%;
    float: left;
    width: 60%;
    margin-left: 10%;
    
}

#portraitphotography-box{
    height: 500px;
    margin-top: 1%;
    margin-bottom: 50%;   
}

#portraitphotography-text{
    margin-top: 3%;
    float: left;
    width: 40%;
    margin left: 40%;
    padding-left: 10%
     
}

#portraitphotography-box img {

    width: 90%;
    float: right;
    padding-left: 130%;
    margin: 1%;
    margin-top: 7%;
    opacity: 1;
    padding-top: 1%;        
            
}

#productphotography-box{ 
    height: 600px;
    margin-top: 40%;
    margin-bottom: 5%;
    
}

#producttphotography-text{
    margin-top: 1%;
    float: right;
    width: 20%;
    margin-left: 40%;
    padding-left: 10%;
    
}


    #productphotography-box img {
    width: 90%;
    float: right;
    padding-left: 130%;
    margin: 1%;
    margin-top: 7%;
    opacity: 1;
    padding-top: 1%;                
}
